@CHARSET "UTF-8";
#elementAlbum{
	border: solid;
	border-width: 1px;
	margin:10px;
	border-radius:10px;
	height: 170px;
	width: 170px;
	background: gray;
	text-decoration: none;
	text-align: center;
	display: inline;
	float:left;
}

h2{
	text-decoration: none;
	border: solid;
	border-width: 1px;
	border-radius:10px;
	background-color: black;
	font-family: cursive;
}
#elementAlbum:hover{
	background: olive;
}
ul{
	text-decoration: none;
}
#different{
	display:block;
}
.cModal {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity:0;
  pointer-events: none;
}
.cModal:target {
  opacity:1;
  pointer-events: auto;
}
.cModal > div {
  max-width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 8px 8px 8px 8px;
  border-radius: 2px;
  background: #fff;
  border-radius:10px;
}
.droite{
	float: right;
}
.droite:hover{
	background-color: silver;
	cursor: pointer;
}
#bouton{
	float: none;
	cursor:pointer;
}

#bouton:HOVER{
	background-color: silver;
}